Repository NORSAIN-AI/deep-research-agent, changes with the owners that CODEOWNERS names for each.
All owners: @NORSAIN-AI/maintainers, @NORSAIN-AI/docs, @NORSAIN-AI/engineering

oppdatert flere filer
  scripts/gen_report.py
Owners: @NORSAIN-AI/maintainers

Create secrets-check.yml
  .github/workflows/secrets-check.yml
Owners: @NORSAIN-AI/maintainers

Create sanity_live.yml
  .github/workflows/sanity_live.yml
Owners: @NORSAIN-AI/maintainers

Update sanity_live.yml
  .github/workflows/sanity_live.yml
Owners: @NORSAIN-AI/maintainers

git add requirements-dev.txt tests/test_smoke.py tests/test_pipeline.py git commit -m "fix: add return types to tests and newline"
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
  tests/test_pipeline.py
  tests/test_smoke.py
Owners: @NORSAIN-AI/maintainers, @NORSAIN-AI/engineering

git commit -m "chore: fix trailing whitespace in secrets-check workflow"
  .github/workflows/secrets-check.yml
Owners: @NORSAIN-AI/maintainers

pre-commit.yml
  .github/workflows/pre-commit.yml
Owners: @NORSAIN-AI/maintainers

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Owners: @NORSAIN-AI/maintainers

Update repo_structure.md
  docs/repo_structure.md
Owners: @NORSAIN-AI/docs

Update project_description.md
  docs/project_description.md
Owners: @NORSAIN-AI/docs

Update README.md
  docs/README.md
Owners: @NORSAIN-AI/docs

Update README.md
  docs/architecture/README.md
Owners: @NORSAIN-AI/docs

Update and rename system_overview.mmd to system_overview.md
  docs/architecture/system_overview.md
  docs/architecture/system_overview.mmd
Owners: @NORSAIN-AI/docs

Update system_prompts.md
  prompts/system_prompts.md
Owners: @NORSAIN-AI/maintainers

oppdaert
  repo_files.txt
Owners: @NORSAIN-AI/maintainers

fix: load .env for OpenAI client + format with black
  src/openai_client.py
Owners: @NORSAIN-AI/engineering

nye endringer
  crewai-rag-tool.lock
  db/chroma.sqlite3
Owners: @NORSAIN-AI/maintainers

crew.py
  src/crew.py
Owners: @NORSAIN-AI/engineering

Cleanup: fjernet venv, .venv og lokale db-filer fra git-tracking
  db/chroma.sqlite3
Owners: @NORSAIN-AI/maintainers

cleanup: ryddet repo, fjernet venv, __pycache__ og lokale db-filer
  db/chroma.sqlite3
Owners: @NORSAIN-AI/maintainers

cleanup repo
  src/Untitled-1.md
Owners: @NORSAIN-AI/engineering

laget en cleanupcheklist md
  docs/cleanup_checklist.md
Owners: @NORSAIN-AI/docs

oppdaert contribution fil
  CONTRIBUTING.md
Owners: @NORSAIN-AI/maintainers

Oppdatert .md filer i docs
  docs/README.md
  docs/architecture/README.md
  docs/cleanup_checklist.md
  docs/docs_README.md
  docs/project_description.md
  docs/repo_structure.md
Owners: @NORSAIN-AI/docs

Oppdaterte endringer i readme
  docs/_drafts/README.md
  docs/policies/drafts_handling.md
Owners: @NORSAIN-AI/docs

gcp ymal gloud builder
  cloudbuild.yaml
Owners: @NORSAIN-AI/maintainers

CODEOWNERS:

# Default owners for the whole repo
*                       @NORSAIN-AI/maintainers

# Documentation
/docs/                  @NORSAIN-AI/docs

# Source code
/src/                   @NORSAIN-AI/engineering

# CI/CD workflows
/.github/workflows/     @NORSAIN-AI/maintainers

# Devcontainer & infra (only include if these folders exist)
# /.devcontainer/       @NORSAIN-AI/engineering
# /k8s/                 @NORSAIN-AI/engineering
# /terraform/           @NORSAIN-AI/engineering
# Tests
/tests/                 @NORSAIN-AI/engineering
